expo-env.d.ts
node_modules/
.git/
.expo/
.env
.env.*
!.env.example
.DS_Store
*.log
*.md
ios/Pods/
ios/build/
ios/DerivedData/
ios/.xcode.env.local
**/xcuserdata/
android/.gradle/
android/build/
android/app/build/
android/local.properties
*.ipa
*.apk
*.aab
